* {
    margin: 0;
    padding: 0;
    color: #D4D4D4;

}

html {
    background-color: #1C1C1D;

}

.card, .card > * {
    background-color: #212529;
}

.card {
    background-color: #212529;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: #2598b9;
    background-color: transparent;
}

html, body {
    width: 100%;
}

body {
    padding-bottom: 70px;
}

html {
    font-family: 'Roboto', sans-serif;
}
  
body > *:not(.navbar){
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    margin: 20px;
    margin-bottom: 35px;
    text-align: center;
}
  
.profile img {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-radius: 100%;
}
  
.name {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.name p {
    font-size: 40px;
    margin: 0;
}
  
.contact-info {
    text-align: center;
}

.contact-icons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    width: 75px;
    text-align: center;
}
  
.bio {
    margin-top: 35px;
    text-align: left;
}
  
.projects {
    display: flex;
    flex-direction: column;
}

.project-header {
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 15px;
}

.project {
    font-size: 16px;
    position: relative;
    border: 1px solid transparent; 
    border-top: 1px solid #424246;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-image {
    margin-top: 5px;
    align-self: flex-start;
    justify-content: center;
    width: 25%; 
    margin-right: 2%; 
}

.project a{
    align-self: flex-end;
}

.project-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.project-details {
    margin-top: 5px;
    align-self: flex-start;
    flex: 1;

}

.project-title {
    font-weight: bold;
}

.year {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
}

.project > .authors {
    font-style: italic;
}


.navbar {
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #424246;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
    background-color: transparent; 
}

a:hover {
    text-decoration: underline;
}

.navbar a:hover {
    color: #2598b9;
    text-decoration: none;
}


.navbar a.active {
    color: #2598b9;
}


.news {
    display: block;
}

.news-header {
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 15px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

li {
    display: list-item;
}

.page-title {
    font-weight: 300;
    font-size: 40px;
    display: block;
}

.post-description{
    display: block;
    font-size: 14px;
    margin-block-end: 32px;
    line-height: 1.5;
}

.cv .card{
    background-color: #212529;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #424246;
    padding: 16px;
    margin-top: 16px;
    
}

.card-title {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.2;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}


.pr {
    padding-right: 8px;

}

.pr, b{
    background-color: #212529;
}

.pl{
    background-color: #212529;
    padding-left: 8px;
}

td {
    display: table-cell;
    padding: 4px;
    vertical-align: top;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-radius: 4px;
    background-color: #212529;
}

.card-content>.card-content-item:last-child {
    border-bottom-width: 0;

}

.card-content>.card-content-item {
    border-width: 0 0 1px;
}

.card-content-item {
    position: relative;
    display: block;
    padding: 12px 20px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #212529;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.role, .badge-column { 
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #212529;
}

h6{
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
    display: block;
    font-size: 16px;
    font-weight: 100;
}

.right-column-alignment{
    margin-left: 24px;
}

ul ul {
    background-color: #212529;
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 0;
}


.font-weight-bold {
    font-weight: 700;
}

.badge {
    display: inline-block;
    padding: 4px 6.5px;
    font-size: 60%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    min-width: 75px;
}

.cv .card .card-content-item .badge {
    color: #212529;
    background-color: #2698ba;
}

.badge-column {
    width: 75px;
}

span {
    font-weight: 700;
}

.job-description {
    font-style: italic;
}

table {
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    border-collapse: collapse;
    margin-bottom: 16px;
    vertical-align: top;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


td.card-content-category {
    color: #2698ba;
    margin-bottom: 8px;
}


table td {
    font-size: 14px;
    font-weight: 300;
}

td.card-content-name {
    font-size: 13px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.card-content-table {
    background-color: transparent;
}

.right-column {
    flex: 0 0 50%; 
    max-width: 50%;
}

.card-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
}

b {
    font-weight: bolder;
}

.items li p{
    background-color: #212529;
}

.card-content-table tbody tr td {
    background-color: #212529;
}

.project p {
    text-wrap: wrap;
    font-style: italic;
    max-width: 100%;
}

@media only screen and (max-width: 640px) {
    body > *:not(.navbar){
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .name p {
    font-size: 30px;
    }

    .contact-icons {
    margin-top: 5px;
    width: 50px;
    }

    .project-header {
    font-size: 24px;
    }

    .project {
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    }

    .project-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    }

    .project-details {
    margin-top: 10px;
    }

    .year {
    position: static;
    margin-top: 5px;
    }

    .navbar {
    margin-bottom: 20px;
    }

    .navbar a {
    padding: 10px;
    margin: 0 5px;
    }

    .news-header {
    font-size: 24px;
    }

    .post-description {
    font-size: 12px;
    margin-block-end: 16px;
    }

    .card-title {
    font-size: 24px;
    }

    .card-content-item {
    padding: 8px 16px;
    }

    .right-column {
    flex: 1;
    max-width: 100%;
    }

    .items li p{
    font-size: 12px;
    }

    .job-description {
        font-size: 12px;
    }

    .badge {
        font-size: 50%;
        min-width: 50px;
        padding: 2px 4px;
    }

    .card-content-table tbody tr td {
    font-size: 12px;
    }

    .project p {
        max-width: 45%;
        font-size: 12px;
    }
    .contact-icons {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
        width: 75px;
        text-align: center;
    }
    .right-column-alignment{
        margin-top: 10px;
        font-size: 14px;
        margin-left: 15px;
    }
    .table {
        margin-bottom: 16px;
        vertical-align: top;
        max-width: 5px;
    }

    .pl{
        background-color: #212529;
        padding-left: 8px;
        word-wrap: break-word;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-right: -15px;
        margin-left: -15px;
        table-layout: fixed;
        width: 100%;
    }
    /* .job-description {
        display: none;
    } */
    .project p {
        text-wrap: wrap;
        font-style: italic;
        max-width: 100%;
    }
    .role{
        padding-left: 0px;
        padding-right: 0px;
    }    
    
    
}
