* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
  }

  
  body > *:not(.navbar){
    max-width: 50%;
    margin: 0 auto;
  }
  
  .profile {
    margin: 20px;
    margin-bottom: 35px;
    text-align: center;
  }
  
  .profile img {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-radius: 100%;
  }
  
  .name {
    text-align: center;
  }
  
  .name p {
    font-size: 40px;
    margin: 0;
  }
  
  .contact-info {
    text-align: center;
  }
  
  .bio {
    margin-top: 35px;
    text-align: left;
  }
  
.projects {
    margin: 20px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}

.project-header {
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 15px;
}

.project {
    font-size: 16px;
    position: relative;
    border: 1px solid transparent; 
    border-top: 1px solid #000; 
    padding: 10px;
    display: flex;
    align-items: center;
}

.project-image {
    justify-content: center;
    width: 25%; 
    margin-right: 6%; 
}

.project-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.project-details {
    flex: 1;
    padding-bottom: 7vh;
}

.project-title {
    font-weight: bold;
}

.year {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.project > .authors {
    font-style: italic;
}


.navbar {
  background-color: #000; 
  overflow: hidden;
  text-align: center;
  margin-bottom: 50px;
}

.navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 10px;
  background-color: transparent; 
}

.navbar a:hover {
  background-color: #555;
}

.navbar a.active {
  background-color: white; 
  color: black; 
}

.news {
    margin: 20px;
    margin-bottom: 35px;
    display: block;
}

.news-header {
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 15px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}